.card {
    width: 160px;
    color: white;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1e1e1e;
  }
  
  .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .chip {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .bottom {
    margin-top: 10px;
  }

  .chip :global(.MuiChip-root) {
    background-color: black;
    color: white;
    font-size: 10px;
  }