.navbar {
    background-color: var(--color-primary);
    height: 74px;
    width: 100vw;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar a {
    text-decoration: none;
    color: var(--color-black);
  }
  .navbar a:hover {
    color: var(--color-white);
  }
  